
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <meta name="robots" content="noindex">
  <title>Should I Shovel</title>
  <meta name="description" content="Don't throw out your back for no reason. See if you really need to shovel or if you can take it easy.">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <!-- Twitter Card data -->
  <meta name="twitter:card" value="Don't throw out your back for no reason. See if you really need to shovel or if you can take it easy.">

  <!-- Open Graph data -->
  <meta property="og:title" content="Should I shovel - the web app that tells you" />
  <!--<meta property="og:type" content="article" />-->
  <meta property="og:url" content="http://www.shouldishovel.com/" />
  <!--<meta property="og:image" content="http://example.com/image.jpg" />-->
  <meta property="og:description" content="Don't throw out your back for no reason. See if you really need to shovel or if you can take it easy." />

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css'>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div id="should-i-shovel">
  <div class="title">Should I Shovel?</div>
  <h1 v-if="isLoading">Shoveling sucks, lets see if you need to do it.
Loading.....
</h1>
  <transition  enter-active-class="animated zoomInDown"
    leave-active-class="animated zoomOutUp">
  <h2 v-show="!isLoading" v-cloak>{{message}}</h2>
    
  </transition>
 <!-- <input type="text" v-model="city" value="Eagan"> 
  <button @click="">check</button>
  city: {{city}}-->
  <h3>For more accuracy:</h3>
  <label>There currently <select name="" id="" v-model="userReportsSnow">
    <option value="undefined" selected disabled>Assume there is snow</option>
    <option value="false">is NO snow on the ground</option>
    <option value="true">is snow on the ground</option>
    </select>
  </label>
<a href="about.html" class="privacy-policy">About/Privacy Policy</a>
  <transition  enter-active-class="animated zoomInUp"
    leave-active-class="animated zoomOutDown">
  <div class="privacy-statement" v-show="isPrivacyPolicyActive" v-cloak>
    <p>The goal of this app is to allow you to be as lazy as possible. You don't even need to enter your location. We just straight up tell you if you need to shovel.</p>
      <small>This app uses your current physical location, various factors from how much snow has fallen, and the temperatures for the next few days in your area. None of your  data is saved/stored or sold your general location is used to query a popular weather API anonymously. The suggestions provided by this app are not legal advice, if you are legally obligated to clear snow that is your responsibility.</small>
  </div>
     </transition>
</div>
 




<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Should I shovel -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8400203852245133"
     data-ad-slot="4980315080"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js'></script>
 <script src="scripts.js"></script>
</body>
</html>
 
